<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!-- NAME -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            #nameField="ngModel"
            data-testid="name"
            type="text"
            name="name"
            class="form-control"
            id="name"
            required
            minlength="3"
            maxlength="20"
            pattern="[a-zA-Z]+"
            [class.is-invalid]="nameField.dirty && nameField.invalid"
            [(ngModel)]="name"
          />
        </div>
        @if (nameField.dirty && nameField.hasError('required')) {
          <div class="form-text text-danger" data-testid="error-name-required">
            Name is required.
          </div>
        }
        @if (nameField.dirty && nameField.hasError('minlength')) {
          <div class="form-text text-danger" data-testid="error-name-minlength">
            Name must contain at least
            {{ nameField.getError('minlength').requiredLength }} caracters.
          </div>
        }
        @if (nameField.dirty && nameField.hasError('maxlength')) {
          <div class="form-text text-danger" data-testid="error-name-maxlength">
            Name must contain maximum
            {{ nameField.getError('maxlength').requiredLength }} caracters.
          </div>
        }
        @if (nameField.dirty && nameField.hasError('pattern')) {
          <div class="form-text text-danger" data-testid="error-name-pattern">
            Name must contain only letters.
          </div>
        }
        <!-- EMAIL -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            #emailField="ngModel"
            data-testid="email"
            type="email"
            name="email"
            class="form-control"
            id="email"
            autocomplete="email"
            required
            email
            [class.is-invalid]="emailField.dirty && emailField.invalid"
            [(ngModel)]="email"
          />
        </div>
        @if (emailField.dirty && emailField.hasError('required')) {
          <div class="form-text text-danger" data-testid="error-email-required">
            Email is required.
          </div>
        }
        @if (emailField.dirty && emailField.hasError('email')) {
          <div class="form-text text-danger" data-testid="error-email-pattern">
            Email must be valid.
          </div>
        }
        @if (isEmailAlreadyTaken()) {
          <div
            class="form-text text-danger"
            data-testid="error-email-already-taken"
          >
            {{ emailAlreadyTakenError()?.message }}
          </div>
        }
        <!-- PASSWORD -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            #passwordField="ngModel"
            data-testid="password"
            type="password"
            class="form-control"
            id="password"
            autocomplete="new-password"
            name="password"
            required
            minlength="8"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).+$"
            [class.is-invalid]="passwordField.dirty && passwordField.invalid"
            [(ngModel)]="password"
          />
        </div>
        @if (passwordField.dirty && passwordField.hasError('required')) {
          <div
            class="form-text text-danger"
            data-testid="error-password-required"
          >
            Password is required.
          </div>
        }
        @if (passwordField.dirty && passwordField.hasError('minlength')) {
          <div
            class="form-text text-danger"
            data-testid="error-password-minlength"
          >
            Password must contain at least 8 characters.
          </div>
        }
        @if (passwordField.dirty && passwordField.hasError('pattern')) {
          <div
            class="form-text text-danger"
            data-testid="error-password-pattern"
          >
            Password must contain at least one uppercase letter, one lowercase
            letter, one digit and one special character (&#64;$!%*?&).
          </div>
        }
        <!-- CONFIRM PASSWORD -->
        <div class="mb-3">
          <label for="confirm-password" class="form-label">
            Confirm password
          </label>
          <input
            #confirmPasswordField="ngModel"
            data-testid="confirm-password"
            name="confirmPassword"
            type="password"
            class="form-control"
            id="confirm-password"
            autocomplete="new-password"
            required
            [class.is-invalid]="
              confirmPasswordField.dirty && confirmPasswordField.invalid
            "
            [(ngModel)]="confirmPassword"
          />
        </div>
        @if (confirmPasswordField.dirty && !isPasswordMatchValid()) {
          <div
            class="form-text text-danger"
            data-testid="error-confirm-password-match"
          >
            Passwords do not match.
          </div>
        }
        <button
          data-testid="submit-button"
          type="submit"
          class="btn btn-primary w-100 mt-3"
          [disabled]="
            form.invalid ||
            !isPasswordMatchValid() ||
            isEmailAlreadyTaken() ||
            isLoading()
          "
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
